<launch>

	<arg name="namespace" default="Frodo" />
    <node pkg="pcl_compression" type="pcl_compression" name="pcl_compression" output="screen">

		<!--Min/max thresholds (in meters) -->
		<param name="threshold_min" value="0.2"/>
		<param name="threshold_max" value="2.0"/>

		<!-- Compression resolution (in meters) -->
		<param name="resolution" value="0.1"/>

		<!-- Compression based on maximum and minimum distances -->
		<param name="min_distance" value="0.25"/>
		<param name="max_distance" value="5.0"/>

		<!-- Drop incoming messages by a factor given below -->
		<!-- Example: If the value is 2, it will drop every other message -->
		<param name="drop_factor" value="3"/>

		<!-- PCL Topics -->
		<param name="input_topic" value="/$(arg namespace)/camera/depth/color/points"/>
		<param name="out_topic" value="/$(arg namespace)/camera/depth/color/compressed_points"/>
	</node>

</launch>